.sign-in{
    margin-left: 5vw;
    width : 380px;
    display: flex;
    flex-direction: column;

    .title{
        margin: 10px 0;
    }
    
    .buttons-container{
        display: inline-flex;
        justify-content: space-between;
    }
}